<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div>
        <h2><span th:text="${studentas.firstName}">Antanas</span></h2>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Pazymiai</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pazymys : ${pazymiai}">
                    <td th:text="${pazymys.pazymys}">10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>